<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/main-style.css}" href="../static/css/main-style.css">
</head>
<body>
<h1>Home</h1>
<header th:insert="common.html :: header"> </header>
<div class="info-message">
    <strong>Server Message</strong>
    <span th:text="${message}">this is a server message</span>
</div>
<footer th:replace="common.html :: footer"></footer>
</body>
</html>